
@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,800;1,800&display=swap');
@import "shared.css";

.wrapper {
  min-height: 100%;
  overflow: clip;

  display: flex;
  flex-direction: column;
  background-color: #28293E;
  color: #FFF;
  font-family: Epilogue, sans-serif;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 15px;
}

/*   header   */
.header {
  background-color: gray;
  padding-block: 30px;
}

.header__container h1 {
  text-align: center;
  font-size: 52px;
  font-weight: 800;
  line-height: 48px;
}

/* general section*/
.general {
  padding-block: 96px 92px;
  background-color: #28293e;
}

.general__title {
  text-align: center;
  margin-bottom: 68px;
}

.links {
  max-width: 574px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 20px;
}

.links__item {
  color: rgba(255, 255, 255, 0.64);
}

.links__item sup {
  display: inline-block;
  transform: translateY(-50%);
  font-size: 14px;
  color: rgba(255, 255, 255, 0.64);
}

.links__item--active {
  color: #FFF;
}

.image-block {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 30px;
}

.image-block:not(:last-child) {
  margin-bottom: 64px;
}

.image-block__item {
  position: relative;
  width: auto;
  background-color: gray;
  border-radius: 6px;
  overflow: hidden;
  padding: 51px 48px;
  flex-basis: 470px;
  min-height: 416px;
  display: flex;
  align-items: flex-end;
  transition: transform 0.8s;
}

.image-block__item:nth-child(4n+3),
.image-block__item:nth-child(4n+2) {
  flex-basis: 670px;
}

.image-block__item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-block__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: scaleY(100%);
  width: 100%;
  height: 100%;
  opacity: 0.3181;
  transition: transform 0.8s;
  transform-origin: top;
  background-color: #5c2000;
}

.image-block__item:hover::before {
  transform: scaleY(0);
  transform-origin: top;
}

.image-block__info {
  position: relative;
  z-index: 2;
}

.image-block__button {
  width: fit-content;
  font-size: 16px;
  font-weight: 400;
  color: #391400;
  background-color: #FFF;
  border-radius: 19px;
  padding: 5px 15px;
  margin-block-end: 23px;
  line-height: 2;
}

.image-block__label {
	font-size: 40px;
	font-weight: 800;
	line-height: 48px;
	color: #FFF;
}

/* screen */
.screen {
  padding-block: 92px 70px;
}

.screen__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  padding-inline: 100px 83px;
  border-radius: 6px;
  background-color: #fdf0e9;
}

.text-content {
  max-width: 248px;
  padding-block: 74px;
}

.text-content__coments {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6D58;
}

.text-content .text-content__title {
  color: #391400;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  max-width: 248px;
  margin-bottom: 23px;
}

.text-content__button {
  justify-content:left;
  padding-block-start: 23px;
  margin: 0;
}

.screen__letter {
  position: relative;
}
.screen__girl {
  position: relative;
  flex-basis: 294px;
  align-self: flex-end;
  padding-left: 53px;
  margin-top: -60px;
  background: url("../img/cloud.svg") left 70% / contain no-repeat;
}

.screen__star {
  position: absolute;
  top: 0;
  left: 7.1795%;
  transform: translateY(-50%);
  width: 148px;
  height: 148px;
}

/*events*/
.events {
  padding-block: 70px;
}

.events__title {
  text-align: center;
  margin-bottom: 64px;
}

.events__title .title-block__title {
  max-width: 426px;
  margin: 0 auto;
}

.events-block {
  display: flex;
  gap: 30px;
}

.events-block:not(:last-child) {
  margin-bottom: 64px;
}

.event {
  flex-basis: 370px;
  display: flex;
  flex-direction: column;
  padding: 40px 40px 36px;
  border: 1px solid #3a3c56;
  border-radius: 6px;
}

.event__header {
  margin-bottom: 36px;
}

.event__date {
  max-width: 230px;
  display: flex;
  gap: 12px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.event__date span:not(:first-of-type) {
  padding-top: 5px;
}

.event__day-number {
  font-size: 72px;
  font-weight: 800;
  letter-spacing: -2px;
  line-height: 1.1;
}

.events-block__item {
  max-width: 370px;
  padding-block: 36px;
  padding-inline: 40px;
  border-radius: 6px;
  border: 1px solid #3A3C56;
}

.events-block {
  display: flex;
  flex-wrap: wrap;
}

.date {
  display: flex;
}

.date__number {
  font-size: 72px;
  font-weight: 800;
  line-height: 80px; /* 111.111% */
  letter-spacing: -2px;
}

.date__month-year {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  padding-block: 6px 11px;
  padding-inline-start: 12px;
}

.event__time {
  line-height: 2; /* 200% */
  padding-left: 24px;
  background: url(../img/clock.svg) 0 7px / 16px no-repeat;
}

.event__context {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 40px;
  border-top: 1px solid #3a3c56;
}

.event__tittle {
  margin-bottom: 19px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
}

.event__description {
  flex-grow: 1;
  line-height: 2;
  color: rgba(255, 255, 255, 0.64);
  margin-bottom: 26px;
}

.event__explore {
  position: relative;
  width: fit-content;
  line-height: 2;
}

/* team-list */
.team-list {
  padding-block: 70px 90px;
}

.team-list__title {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  margin-bottom: 64px;
}

.team-list__title .title-block__content {
  flex-basis: 531px;
}

.title-block__pagination {
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 16px;
}

.title-block__direction {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid #676877;
  background: url("../img/arrow.svg") center / 14px no-repeat;
}

.title-block__direction--prew {
  transform: rotate(180deg);
}

.team-list__crew {
  display: flex;
  gap: 30px;
}

.team-list__crew:not(:last-child) {
  margin-bottom: 52px;
}

.person {
  /*flex: 0 1 270px;*/
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 270px;
}

.person__photo {
  display: flex;
  border-radius: 6px;
  border: 1px solid #3A3C56;
  justify-content: center;
  align-items: flex-end;
  min-height: 270px;
  margin-bottom: 26px;
}

.person__photo > img {
  height: auto;
  width: auto;
}

.person__name {
  font-size: 24px;  
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  margin-bottom: 3px;
}

.person__project-role {
  line-height: 32px; /* 200% */
  color: rgba(255, 255, 255, 0.64);
}

.slide-navigation {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
}

.slide-navigation__item {
  width: 12px;
  height: 12px;
  border: 1px solid #4E4F6E;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.5s;
}

.slide-navigation__item--active {
  background-color: #EF6D58;
}

.slide-navigation__item:hover:not(.slide-navigation__item--active) {
  transform: scale(1.5);
}

/*founder*/
.founder {
  padding-block: 90px 93px;
}

.founder__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.founder__photo {
  flex-basis: 570px;
}

.founder__photo img {
  max-width: 100%;
  border-radius: 6px;
}

.founder__content {
  position: relative;
  flex-basis: 470px;
  padding-block: 44px;
  background: url(../img/brackets.svg) 83% 40px / 21.2% no-repeat;
}

.founder__content .title-block__title {
  margin-bottom: 44px;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.2; /* 120% */
}

.title-block__name {
  font-size: 20px;
  line-height: 1.6; /* 160% */
  margin-bottom: 6px;
}

.title-block__role {
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.64);
}

/*footer*/
.footer {
  padding-block: 30px;
  background-color: gray;
}
.footer__container {
  text-align: center;
}
