@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,800;1,800&display=swap');
@import url("reset.css");

body {
	font-family: "Epilogue", sans-serif;
  font-style: normal;
}


.header {
	position: fixed;
	top: 0px;
	background-color: #FFF;
  padding-block-end: 20px;
	padding: 25px;
  color: #391400;
	width: 100%;
	z-index: 1;
}

.footer {
	text-align: center;
	padding: 50px;
}

.header h1 {
  text-align: center;
  font-size: 52px;
  font-weight: 800;
  line-height: 48px;
	z-index: 2;
}

.container {
  max-width: 1440px;
  margin-inline: auto;
}

.container__title {
	top: 0;
	position: sticky;
	padding-block: 10px;
	z-index: 1;
	background-color: #FFF;
}

.container__title:first-child {
	top: 100px
}

.container__title h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  line-height: 32px;
}

.container:first-child {
	padding-block-start: 80px;
}

.tool {
	text-align: center;
	padding: 50px;
	margin-inline: auto;
}

.tool__title {
	top: 155px;
	position: sticky;
	background-color: #FFF;
}

.tool__title h3 {
  font-size: 30px;
  font-weight: 800;
  line-height: 28px;
}

.tool__content {
	margin-block-start: 25px;
	margin-inline: auto;
	transition: transform 0.8s;
}

.content-wrapper-3d {
	perspective: 200px;
	perspective-origin: center;
}

.wheel {
	height: 100px;
	width: 100px;
}

.tool__content.wheel:hover {
	transform: rotate(180deg);
}

.wheel__outside {
	height: 100%;
	width: 100%;
	border-radius: 100%;
	border: #391400 dashed 10px;
}

.wheel__circle {
	height: 100%;
	height: 100%;
	border-radius: 100%;
	border: #391400 double 10px;
}

.wheel__disc {
	height: 100%;
	width: 100%;
	border-radius: 100%;
	border: gray dashed 15px;
}

.wheel__inner-center {
	background-color: gray;
	height: 100%;
	width: 100%;
	border-radius: 100%;
}

.track {
	height: 105px;
	width: 535px;
}

.tool__content.track:hover {
	transform: translate(80px);
}

.content-wrapper-3d > .chassis:hover {
	transform: rotateX(40deg);
}

.track__outside {
	height: 100%;
	width: 100%;
	border: black dashed 12px;
	border-radius: 105px;
}

.track__inside {
	height: 100%;
	width: 100%;
	border: black solid 5px;
	border-radius: 100px;
}

.chassis {
	width: 570px;
	height: 80px;
}

.chassis__base {
	background-color: darkgreen;
	width: 100%;
	height: 100%;
	border-start-start-radius: 50px;
	border-start-end-radius: 50px;
}

.cabin {
	width: 200px;
	height: 200px;
}

.tool__content.cabin:hover {
	transform: scale(1.5);
}

.cabin__base {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: darkgreen;
	border-start-end-radius: 180px;
	border-start-start-radius: 40px;
	border-end-end-radius: 10px;
}

.cabin__side-glass {
	position: absolute;
	height: 90px;
	width: 100px;
	background-color: gray;
	border-start-end-radius: 240px;
	top: 15%;
	left: 35%;
}

.lighter {
	position: relative;
	height: 35px;
	width: 10px;
}

.tool__content.lighter:hover {
	transform: scale(-0.6, 0.6)
}

.lighter__base {
	height: 100%;
	width: 100%;
	background-color: black;
	border-end-end-radius: 25px;
}

.lighter__visor {
	position: absolute;
	top: 0;
	left: 10px;
	height: 10px;
	width: 8px;
	background-color: black;
	border-start-end-radius: 2px;
	border-end-end-radius: 25px;
}

.stanin {
	position: relative;
	height: 200px;
	width: 200px;
}

.tool__content.stanin:hover {
	transform: rotate(-45deg);
	transform-origin: top;
}

.stanin__base {
	background-color: darkgreen;
	width: 100%;
	height: 25%;
	position: absolute;
	left: 0;
	bottom: 0;
}

.stanin__triangle {
	width: 0;
	height: 0;
	border: 100px solid transparent;
	border-top: 0;
	border-bottom: 120px solid darkgreen;
	position: absolute;
	bottom: 25%;
}

.stanin__hinge {
	width: 70px;
	height: 70px;
	border-radius: 70px;
	background-color: darkgray;
	position: absolute;
	top: 0;
	left: 65px;
}

.missile {
	position: relative;
	height: 100px;
	width: 500px;
}

.tool__content.missile:hover {
	transform: rotateY(90deg);
}

.missile__base {
	position: absolute;
	background-color: darkgreen;
	height: 100%;
	width: 70%;
	border-radius: 10px;
}

.missile__body {
	position: absolute;
	background-color: darkgray;
	height: 70%;
	width: 10%;
	left: 70%;
	bottom: 15%;
}

.missile__head {
	position: absolute;
	height: 0;
	width: 0;
	border: 35px solid transparent;
	border-right: 0;
	border-left: 100px solid lightgray;
	left: 80%;
	bottom: 15%;
}




/* OBJECT */

.object {
	position: relative;
	margin-block-start: 50px;
	margin-inline: auto;
	width: 570px;
	height: 450px;
}

.wheeles {
	position: absolute;
	top: 0;
	left: 10px;
}


.wheeles > .wheel {
	display: inline-block;
}

.object > .track {
	position: absolute;
	left: 20px;
	bottom: 0;
}

.object > .chassis {
	position: absolute;
	bottom: 45px;
	left: 5px;
}

.object > .cabin {
	position: absolute;
	left: 58%;
	bottom: 120px;
}

.object > .stanin {
	position: absolute;
	left: 18%;
	bottom: 100px;
}

.object > .missile {
	position: absolute;
	bottom: 290px;
	left: 0;
	transform: rotate(-20deg);
}

.object > .lighter {
	position: absolute;
}

.lighter--front {
	right: 30px;
	bottom: 135px;
}

.lighter--back {
	left: -1px;
	bottom: 55px;
	transform: scale(-0.6, 0.6)
}


