@import url("reset.css");

@import url('https://fonts.googleapis.com/css?family=Roboto:regular,500');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600,700&display=swap');



.model1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  width: 1440px;
  height: 909px;
  padding-block-start: 160px;
  padding-block-end: 120px;
  padding-inline-end: 755px;
  padding-inline-start: 165px;


  .title {
    font-size: 36px;
    line-height: 48px;
    font-weight: 500;
  }

  .context {
    margin-block-start: 16px;
    height: 140px;
    color:#091133;
  }

  .context p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-block-start: 8px;
    color: #6F7CB2;
  }

  .items-block {
    margin-block-start: 71px;
    margin-inline-start: -5px;
    margin-inline-end: -5px;
    font-size: 0;
  }

  .item {
    display: inline-block;
    width: 50%;
    padding-inline-start: 5px;
    padding-inline-end: 5px;
    color: #5D6970;
  }

  .item .item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-block-end: 7px;
    color:#091133;
  }

  .item .item-context {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin-block-end: 32px;
  }

  .item img {
    margin-block-start: 0;
    margin-block-end: 14px;
  }

}


.model2 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  line-height: 150%;
  background-color: black;
  width: 1597px;
  height: 801px;
  margin-block: 150px;
  margin-inline: 162px;
  color: #FFF;

  .title {
    font-weight: 700;
    font-size: 38px;
  }

  .context {
    width: 1297px;
    margin-block-start: 14px;
  }

  p {
    font-weight: 400;
    font-size: 18px;
  }

  .items-block {
    margin-block-start: 80px;
    font-size: 0;
    margin-inline: -15px;
  }

  .items-block img {
    margin-inline-end: 16px;
  }

  .item {
    display: inline-block;
    width: 31.3%;
    padding-inline: 50px;
    padding-block: 50px;
    background-color: #0F0F0F;
    margin-block-end: 30px;
    margin-inline: 15px;
  }

  .item p {
    margin-block-start: 30px;
    color: #999;
  }

  .item-title {
    vertical-align: middle;
    font-size: 24px;
    font-weight: 600;
  }

}

.model3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  width: 539px;
  margin-block-start: 303px;
  margin-inline-start: 163px;

  .title {
    font-size: 50px;
    line-height: 66px;
    font-weight: 500;
  }

  .context {
    margin-block-start: 20px;
    color:#091133;
  }

  .context p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-block-start: 12px;
    color: #505F98;
  }

  .button-block {
    margin-block-start: 74px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;

    .button {
      display: inline-block;
      background-color: #293564;
      color: #FFF;
      width: 189px;
      height: 36px;
      margin-inline-end: 65px;
      text-align: center;
      padding-block: 5px;
    }

  }
}






